<html>
	<head>
		
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span4">
					<div class="well">
		 	 			<fieldset>
	    					<legend>Log In</legend>
	    					<cfform action="login_success.cfm" method="POST">
								Email: <br>
								<cfinput type="text" name="email" required="Yes" messsage="Please type your email first."> <br>
								Password: <br>
								<cfinput type="password" name="password" requried="Yes" message="Please type your password first."> <br>
								<button class="btn btn-primary" name="login" type="submit">Log In</button>
							</cfform>
	    			
	  					</fieldset>
					</div>
				</div>
				<div class="span8">
	    			<h2>Logging in is easy and secure</h2>
	    		</div>
			</div>
		</div>	
		
		
	</body>
</html>