<html>
	<head>
		
	</head>
	<body>
		<cfif IsDefined('FORM.register')>
			<cfquery name="checkUser">
   				SELECT email, id
   				FROM users
   				WHERE email = 
				<cfqueryparam cfsqltype="cf_sql_varchar" value="#form.email#">
			</cfquery>
			
			<cfif checkUser.recordCount neq 1>	
				<cfquery name="getUser">
	   				INSERT INTO users(Email, Password)
					VALUES('#FORM.email#', '#FORM.password#')
	   			</cfquery>
		
		
				<div class="container">	
					<cfoutput>
						<h1>Thank you for signing up! </h1>
						<h3>You have been successfully registered as: #FORM.email# </h3>
					</cfoutput>
					Click <a href="login.cfm">here</a> to log in.
				</div>
			<cfelse>
				<h3>Sorry, that email has already been registered.</h3>
		     	<h4>Please try another one.</h4>
		     	<cfinclude template="register.cfm">
		    	<cfabort>
	   		</cfif>
	   	</cfif>
	</body>
</html>